html
  head
    meta name="pdfkit-orientation" content="Portrait"
    css:
      #{File.read("public/css/shiftbay.css")}
      table {
        page-break-inside:avoid;
      }
      .pagebreak{
          page-break-after:always;
          clear:both;
          display:block;
      }      
      .noprint {
        display : none;
      }
      tr.noprint {
        display : none;
      }
      tr.print {
        display : table-row;
      }
      .print {
        display : initial;
      }
    title= "Dienstplaner"
  body
    == yield
