body {
  font-family : "Arial";
}

.logo {
  color : white;
  background-color : orange;
  font-weight: bold;
  width: 200px;
  height: 70px;
  padding: 5px;
}

.status {
  background-color : gray;
  color : white;
  height: 70px;
  text-align: right;
  padding: 5px;
  min-width: 800px;
}

.status a{
  text-decoration: none;
  color : white;
}

.logo .title {
  font-size: 32pt
}

.table table {
	border-style: solid;
	border-width: 1pt;
 	border-collapse:collapse
}

.table th, .table td {
  vertical-align: top;
	text-align: left;
	border-style: solid;
	border-width: 1pt;
 	padding: 5px;
}

.plan table {
	border-style: solid;
	border-width: 1pt;
 	border-collapse:collapse;
}

.plan th, .plan td {
  vertical-align: top;
	text-align: left;
	border-style: solid;
  border-color: lightgray;
	border-width: 1pt;
 	padding: 1px;
 	white-space: nowrap;
}
.plan td.username {
  font-weight: bold;
 	width: 200px;
}
.plan input {
  background: none;
  border: none;
  font-size: 100%;
}
.plan th a{
  color : black;
}

.teams {
  display: block;
}

.team {
  float: left;
  width: 480px;
  height: 127px;
  border: 1px solid #aaa;
  margin: 5px;
  padding: 5px;
}

.team.members{
  display: block;
}

.member {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 30px;
}

.member a {
  color: black;
}

.team-member-head input {
  float: right;
}

.team-member-list {
  list-style: none;
  padding-left:0;
}
.team-member-list li {
  clear: both;  
}
.team-member-list form {
  float: right;  
}

.gnatt table {
	border-style: solid;
	border-width: 1pt;
 	border-collapse:collapse
}

.gnatt th, .gnatt td {
  vertical-align: top;
	text-align: left;
	border-style: solid;
  border-color: lightgray;
	border-width: 1pt;
 	padding: 1px;
 	white-space: nowrap;
}

.gnatt th {
  font-weight: normal;
  font-size: 80%;
}

.form th, .table td {
  vertical-align: top;
	text-align: left;
 	padding: 5px;
}

.body {
 	padding: 10px;
  background-color: #F7F7F7;
  min-height: 700px;
}

.sidebar {
 	padding: 10px;
  background-color: #F7F7F7;
  min-height: 700px;
}

tr.noprint {
  display : table-row;
}
tr.print {
  display : none;
}

h1 {
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}

.action {
  margin :0 ;
  height: 20px ;
}

.nav  {
    font-size: 12pt;
  font-weight: bold;
}

.nav ul {
    padding: 0px;
    margin: 0px;
}
.nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.nav ul,.nav ul li{
    background-color: lightgray
}

.nav ul li {
    list-style: none;
    float:left;
}
.nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 10px 20px 10px 20px;
}

.nav ul li a.selected {
    color: white;
}

.nav ul li a:hover{
    color: white;
}

.staffing {
  font-size: 80%;
}

.staffing .title {
  font-weight: bold;
}
.staffing .open {
  background-color: #B40404;
}

.staffing .full {
  background-color: #088A29;
}

.staffing ul{
  list-style: none;
  padding: 5px 5px 5px 5px ;
  margin: 5px;
}

button.action {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

td.shift {
  background-color: gray;
  color: white;
}
td.weekend {
  background-color: green;
  color: white;
}
th.weekend {
  background-color: green;
  color: white;
}
td.time {
      font-size: 8pt;
}

a:hover{
  text-decoration: underline;
}

a {
  text-decoration: none;
  color : rgb(65, 131, 196);
}
